:root {
  --color-accent: #ef4242;
  --color-text-primary: #000000;
  --color-bg-gradient: linear-gradient(45deg, #a13a89, #fc7444);
  --color-border: #c4c4c4;
}

.color-text-primary {
  color: var(--color-text-primary);
}
.color-accent {
  color: var(--color-accent);
}
.color-gradient {
  background: var(--color-bg-gradient);
}
.color-bg-primary {
  background: var(--color-text-primary);
}
.opacity-01 {
  opacity: 0.1;
}
img {
  width: 100%;
  height: 100%;
}
.img-inline {
  width: auto;
  height: auto;
}
.border-b {
  border-bottom: 0.5px solid var(--color-border);
}
.border-t {
  border-top: 1px solid var(--color-border);
}
.list-none {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.active {
  color: var(--color-accent);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.w-1 {
  width: 1px;
}
.w-120 {
  width: 120px;
}
.w-520 {
  width: 520px;
}
.w-628 {
  width: 628px;
}
.h-120 {
  height: 120px;
}
.w-16 {
  width: 16px;
}
.h-16 {
  height: 16px;
}
.w-34 {
  width: 34px;
}
.w-40 {
  width: 40px;
}
.h-34 {
  height: 34px;
}
.h-40 {
  height: 40px;
}
.h-78 {
  height: 78px;
}
a {
  text-decoration: none;
  color: var(--color-text-primary);
}
a:visited {
  color: var(--color-text-primary);
}
a:hover {
  color: var(--color-text-primary);
}
.arrow_wrapper {
  width: 40px;
  height: 40px;
  padding: 42px;
  border-radius: 50%;
  border: 1px solid var(--color-text-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}
.service_hover:hover {
  color: var(--color-accent);
  font-family: 'neueBold';
}
.service_hover:hover::after {
  color: var(--color-accent);
  content: url('./../img/servicesArrow.svg');
}

.work p.font-64 {
  max-width: 1061px;
}

.work .font-36 {
  max-width: 654px;
}

.nike .font-24 {
  max-width: 628px;
}

.partners_link {
  position: relative;
}

.partners_link::before {
  width: 42px;
  height: 42px;
  position: absolute;
  content: url(../img/star.svg);
  top: 0;
  left: calc(-42px - 32px);
}

.partners_link.active,
.partners_link:hover {
  color: var(--color-accent);
}
.partners_link.active::before {
  content: '';
}

.font-stroke {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-text-primary);
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: -1;
}

.stroke-none {
  -webkit-text-stroke-color: transparent;
}

.services .arrow_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

.bg-gradient {
  background: url('../img/gradient.svg') no-repeat;
}
