:root {
  --bg-body: #e5f3fe;
  --card-bg: #fdfaf9;
  --text-primary: #272727;
  --text-secondary: #636262;
  --text-accent: #3557b3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2em 4em;

  background: var(--bg-body);
  color: var(--text-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  line-height: 150%;
  font-weight: 500;

  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

img {
  object-fit: cover;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2em;
  color: var(--text-accent);
}

h2 {
  text-align: center;
  color: var(--text-accent);
}

.wrapper {
  max-width: 1180px;
  margin: 2rem auto;
}

.customer {
  flex: 1 1 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2em;
  line-height: 125%;

  text-align: center;
  padding: 1em;
  background-color: var(--card-bg);
  color: var(--text-secondary);
  border: 1px solid var(--text-accent);
  border-radius: 8px;
  cursor: pointer;
}
.accent {
  font-size: 1.5em;
  font-weight: 900;
  color: var(--text-accent);
}
